h1 {
  text-align: center;
}

.icon-container {
  text-align: center;
  margin-top: 20px;
}

a {
  display: inline-block;
  margin-left: 12px;
}
.fa-facebook {
  color: blue;
}

.fa-whatsapp {
  color: green;
}

.fa-instagram {
  color: red;
}

@media (max-width: 150px) {
  h1 {
    font-size: 15px;
    text-align: center;
    margin: auto;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
  }
}
